.cover__link {
  background-image: url(../../../images/cover_baikal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
  max-height: 740px;
  padding: 245px 312px;
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
  z-index: 0;
  position: relative;
  transition: opacity 0.2s linear;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    max-width: 1279px;
    padding: 19vw 23vw;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    max-width: 1023px;
    padding: 15vw 15vw;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    max-width: 767px;
    padding: 16vw 5vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    padding: calc((100vw*200/320)*(33/200)) 5vw;
  }
}