.footer__columns {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer__columns {
    max-width: 1279px;
    padding: 0 48px;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .footer__columns {
    max-width: 1023px;
    padding: 0 24px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__columns {
    max-width: 186px;
    padding: 0 16px;
    flex-direction: column;
    margin: 0;
  }
}