.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  padding-top: 28px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 1279px;
    padding: 28px 5% 0;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 1023px;
    padding: 28px 5% 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 5% 0;
    max-width: 767px;
  }
}