.footer__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    padding-bottom: 6vw;
  }
}